<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes | Capstone project</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <nav class="navbar-container d-flex align-items-center justify-content-center">
        <div class="col-10 justify-content-between d-flex">
            <img src="assets/images/LogoBookNoted.png" alt="LogoBookNoted">
            <a href="/new" class="btn ">Agregar nuevo libro</a>
        </div>
    </nav>
</body>